// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$navbar-light-color:   #ffffff;
$navbar-light-hover-color:  #ffffff;


$card-border-radius:0em;
$btn-border-radius:0em;

